@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

html {
    background: url('./blue.png');
    background-size: cover;
}

.flex {
    display: flex;
    font-family: 'Bebas Neue';
    font-size: 6vw;
    color: teal;
    letter-spacing: 10px;
    justify-content: center;
    align-items: center;
}

.grid {
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-rows: 1fr 20fr;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    
}
.top {
    display: flex;
    justify-content: space-evenly;
    grid-row:1;
    border-bottom: solid grey;
}

li {
    font-family: 'Bebas Neue';
    font-size: 1.5vw;
    list-style-type: none;
}


.bottom {
    padding: 7px;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.project {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 2vw;
    grid-column: 1;
    border-right: solid grey;
}

.tasks {
    font-family: 'Bebas Neue';
    font-size: 2vw;
    grid-column: 2;
    text-align: center;
}

