@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
      background: #999;
      width: 100%;
    }
  }



html {
    background: url('./blue.png');
    background-size: cover;
}



.flex {
    display: flex;
    font-family: 'Bebas Neue';
    font-size: 5.5vw;
    color: teal;
    letter-spacing: 0.4em;
    justify-content: center;
    align-items: center;
}

.grid {
    margin-left: 10vw;
    margin-right: 10vw;
    display: grid;
    grid-template-rows: 1fr 20fr;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    
}
.top {
    display: flex;
    justify-content: space-evenly;
    grid-row:1;
    border-bottom: solid grey;
}

li {
    font-family: 'Bebas Neue';
    font-size: 1.5vw;
    list-style-type: none;
}


.bottom {
    padding: 7px;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Bebas Neue';
    font-size: 2vw;
    grid-column: 1;
    border-right: solid grey;
    padding-right: 1.5vw;
    overflow:auto;
    height: 40vw;
}

.rightSide {
    display: flex;
    flex-direction: column;
    overflow:auto;
    height: 40vw;
}

.projectplus {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2vw;
    grid-column: 1;
    color: teal;
    padding-left: 1vw;
    cursor: pointer;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0.2rem;
    border: 1px solid #888;
    width: 25vw;
    height: 11.5vw;
    font-size: 2.5vw;
  }

  .modalTask {
    text-align: center;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 45%;
    font-size: 2.5vw;

  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    gap: 0.7vw;
  }
 
  .close {
    color: black;
    font-weight: lighter;
    float: right;
    cursor: pointer;
  }

  .add {
    border-radius: 7px;
    padding: 1vw;
    width: 5rem;
  }

.inputTitle {
    padding: 0.5rem;
}


.projectDiv {
    font-size: 1.8vw;
    background-color: rgb(245, 238, 228);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projectDivArea {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    cursor: pointer;
}

.stretch {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 17vw;
}

.stretchTask {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.image {
    height: 1.5vw;
}

.imageOther {
    height:1.7vw;
}

.icons {
    display: flex;
    align-self: center;
    cursor:pointer;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Bebas Neue';
    font-size: 3vw;
}

.addTask {
    border-radius: 10px;
    border-color: silver;
    border-style: solid;
    background-color: white;
    font-family: 'Bebas Neue';
    cursor: pointer;
    font-size: 1vw;
}

#form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 8px;
    font-size: 1.5vw;
    padding-left: 15px;
}

.taskInputs {
    width: 100%;
    height: 1.8vw;
}

.taskLabels {
    font-size: 2vw;
}

#submitButton, #submitButtonTwo {
    border-radius: 7px;
    padding: 0.5rem;
    width: 6rem;
    margin-top: 1vw;
}


.taskBoxesGrid {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: minmax(1fr 1fr);
    margin-left: 10px;
    background-color:rgb(228, 241, 245); 
    font-size: 2.0vw;
    padding: 15px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    row-gap: 15px;
}


.taskBoxDescription {
    display: flex;
    font-family: 'Poppins';
    font-size: 1.7vw;
}

.taskBoxPriority {
    display: flex;
    font-family: 'Poppins';
    font-size: 1.7vw;
}

.taskBoxExpand {
    border-top: solid black;
    grid-row: 2;
    grid-column: 2;
    font-family: "Bebas Neue";
    overflow:scroll;
    display: flex;
    height: 7vw;
    padding-top: 5px;
}

.taskArea {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue';
}

.taskIcons {
    display:flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-end;
    gap: 3px;
    margin-right: 5px;
}

.cursor {
    cursor: pointer;
}

.checkBox {
    height: 1.5vw;
}

input[type='radio'] { 
    transform: scale(1.2); 
}